main-workflows/BBX_Main_ReceiveWebhooks.json
{
  "name": "BBX_Main_ReceiveWebhooks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d0153d03-7ae4-4613-8aa4-f05b47cff520",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        -560
      ],
      "id": "64a2dbf3-10c7-4766-81ad-c5ff4128c06c",
      "name": "Webhook",
      "webhookId": "d0153d03-7ae4-4613-8aa4-f05b47cff520"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "=PING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ca5e83b8-b697-4053-bb1a-f0f4ccc14bc1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ping"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7e30e7a0-fa48-47e0-a5f4-02c03144d13f",
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "TRANSACTION_CREATED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Created"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e9c84379-ecb4-43ab-b174-b2d1daebd61d",
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "TRANSACTION_SETTLED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Settled"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f09708a1-73cb-454d-ad24-55fe651fa2c0",
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "TRANSACTION_DELETED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Deleted"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        816,
        -592
      ],
      "id": "00bd47b5-4760-423b-a3d6-d6c0f9d4eef7",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "up_transactions",
          "mode": "list",
          "cachedResultName": "up_transactions"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "transaction_id",
              "value": "={{ $json.transaction_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1264,
        -464
      ],
      "id": "5c4ecc61-78f8-4147-b57b-0ef095f4a216",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "U4VRnVLOATeuIaNs",
          "name": "Postgres up_transactions account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6b9c13aa-6866-49f7-ba10-02b3022e68e5",
              "leftValue": "={{ $json.transaction_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1040,
        -464
      ],
      "id": "e088e3b1-6177-487c-9fc3-6be33c9478fd",
      "name": "Filter"
    },
    {
      "parameters": {
        "url": "={{ $json.transaction_link }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        -656
      ],
      "id": "f487fb7d-2255-4c6a-a391-9448dce4630a",
      "name": "Get transaction by ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sR5LGD2lXydcj9Di",
          "name": "Up Bank API Paul"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6vBhOcH2w6u8JGem",
          "mode": "list",
          "cachedResultUrl": "/workflow/6vBhOcH2w6u8JGem",
          "cachedResultName": "BBX_Sub_SetClass"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1488,
        -656
      ],
      "id": "3b4af641-acd9-4637-975a-566791e54053",
      "name": "Label Transaction Classes"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5beCazrrTLH22zM7",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        320,
        -560
      ],
      "name": "Call BBX_Sub_WebhookDecrypt",
      "id": "692cb221-f96a-4ddc-b2a6-30ff4f8dbb1a"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nd7Gk6v6rlAdjEsj",
          "mode": "list",
          "cachedResultUrl": "/workflow/Nd7Gk6v6rlAdjEsj",
          "cachedResultName": "BBX_Sub_UpBankToPostgres"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1264,
        -656
      ],
      "id": "60e6ff5e-29f9-47e0-b324-a6e356236f05",
      "name": "Call 'BBX_Sub_UpBankToPostgres'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OlZkwiGmeE8sCgqr",
          "mode": "list",
          "cachedResultUrl": "/workflow/OlZkwiGmeE8sCgqr",
          "cachedResultName": "BBX_Sub_AutoTag"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1712,
        -752
      ],
      "id": "9cfe71ba-7834-4730-8c9e-dd97977c2fba",
      "name": "Call 'BBX_Sub_AutoTag'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9w6HE3Y0He7yjB3i",
          "mode": "list",
          "cachedResultUrl": "/workflow/9w6HE3Y0He7yjB3i",
          "cachedResultName": "BBX_Sub_PrepareSMSNotification"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2160,
        -544
      ],
      "name": "Call BBX_Sub_PrepareNotification",
      "id": "acfee5e7-b09e-4dd5-a9fc-e957463193b3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "P8G5LXSleQdy2ffF",
          "mode": "list",
          "cachedResultUrl": "/workflow/P8G5LXSleQdy2ffF",
          "cachedResultName": "BBX_Sub_SendSMSNotification"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2608,
        -544
      ],
      "id": "713bfe9d-8d89-4007-8438-b86fe42bfbbb",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wsJLaYcufh2VjQHv",
          "mode": "list",
          "cachedResultUrl": "/workflow/wsJLaYcufh2VjQHv",
          "cachedResultName": "BBX_Sub_ValidateSyncTag"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1936,
        -752
      ],
      "id": "a775556c-64b3-4a2e-b2c2-d293174d5b71",
      "name": "Call 'BBX_Sub_ValidateSyncTag'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4iJ2UwEj5ZOOByOg",
          "mode": "list",
          "cachedResultUrl": "/workflow/4iJ2UwEj5ZOOByOg",
          "cachedResultName": "BBX_Sub_ManageNotifications"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2384,
        -544
      ],
      "id": "8fe94a80-3416-4c12-b68a-428e375989fa",
      "name": "Manage Notifcations"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1952,
        -544
      ],
      "id": "f2aa1d90-585b-4e3a-be4f-f1a43f122aa6",
      "name": "Wait",
      "webhookId": "696718d9-454d-4c81-a953-48a38e2ac0d4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d0153d03-7ae4-4613-8aa4-f05b47cff520",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        -960
      ],
      "id": "2e424ee6-5541-4431-9bba-37de64e41462",
      "name": "Webhook1",
      "webhookId": "d0153d03-7ae4-4613-8aa4-f05b47cff520"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0AHg47dk9W3XIQCx",
          "mode": "list",
          "cachedResultUrl": "/workflow/0AHg47dk9W3XIQCx",
          "cachedResultName": "BBX_Sub_WebhookDecryptBeth"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        320,
        -960
      ],
      "id": "e22ab304-36da-422b-8d75-6be1cb4c21e8",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "=PING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ca5e83b8-b697-4053-bb1a-f0f4ccc14bc1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ping"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7e30e7a0-fa48-47e0-a5f4-02c03144d13f",
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "TRANSACTION_CREATED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Created"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e9c84379-ecb4-43ab-b174-b2d1daebd61d",
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "TRANSACTION_SETTLED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Settled"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f09708a1-73cb-454d-ad24-55fe651fa2c0",
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "TRANSACTION_DELETED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Deleted"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        816,
        -992
      ],
      "id": "579254b8-f491-495d-ab71-50e46d6d596c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "url": "={{ $json.transaction_link }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        -944
      ],
      "id": "a304d6e6-4734-46c9-a961-d9ecfed3a11e",
      "name": "Get transaction by ID1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0A3sf9wSQpdFCyvd",
          "name": "Up Bank API Bethany"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call BBX_Sub_WebhookDecrypt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Get transaction by ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get transaction by ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get transaction by ID": {
      "main": [
        [
          {
            "node": "Call 'BBX_Sub_UpBankToPostgres'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call BBX_Sub_WebhookDecrypt": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'BBX_Sub_UpBankToPostgres'": {
      "main": [
        [
          {
            "node": "Label Transaction Classes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label Transaction Classes": {
      "main": [
        [
          {
            "node": "Call 'BBX_Sub_AutoTag'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'BBX_Sub_AutoTag'": {
      "main": [
        [
          {
            "node": "Call 'BBX_Sub_ValidateSyncTag'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call BBX_Sub_PrepareNotification": {
      "main": [
        [
          {
            "node": "Manage Notifcations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manage Notifcations": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Call BBX_Sub_PrepareNotification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        [
          {
            "node": "Get transaction by ID1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get transaction by ID1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get transaction by ID1": {
      "main": [
        [
          {
            "node": "Call 'BBX_Sub_UpBankToPostgres'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2f5f1e3a-3009-497e-acb1-2645ad7565d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56a546582ceba2a43549bbc9bf7fc86020b83e1b5db93b111b47c1cf4ee5f7c0"
  },
  "id": "Mbl2aVzi64HiXtyflqo9c",
  "tags": []
}